.margem{
    margin:auto 100px;
    margin-top: 28px;
}

.link{
    float: right;
    padding-top: 25px;
}

.local{
    font-size: large;
}

.capa{
    display: flex;
    justify-content: center;
}

.direitos{
    text-align: center;
}
