{% extends "base.html" %}
{% block back %}
    <body class="margem", style="background-image: url(/static/imagens/fundo.png);">
{% endblock %}
{% block header %}
        <div>
            <img src="/static/imagens/logo.png" alt="logo">
            <div class="link">
                <a  href=""> Home </a> |
                <a href="/quemsomos"> Quem somos </a> |
                <a href="/contato"> Contato </a> |
            </div>
        </div>
{% endblock %}
{% block content %}
<p></p>
        <div class="capa">
            <img src="/static/imagens/capa.png" alt="capa">
        </div>
        <div>
            <h3>Sobre a Universidade </h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos commodi ad sapiente aut iusto totam recusandae. Similique cumque quisquam, dicta nisi corrupti officiis ut, sint officia eum eos error expedita? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, nulla. Exercitationem cupiditate placeat quasi natus facere sequi fuga fugiat non, qui, eligendi autem itaque nesciunt eos expedita vitae dicta dolorum! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt incidunt, porro iure error similique nihil. Nihil libero quos perspiciatis nisi dolorum? Vel, provident! Hic, non! Nihil perferendis porro qui consequatur.
            </p>
            <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur laborum hic sit molestias inventore eaque, omnis sunt ipsum. Quod laborum sunt aliquid culpa dicta quaerat corporis, eos illo minima Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur dolores libero eos magnam architecto nesciunt quos esse aperiam commodi neque earum a praesentium, quisquam ea ut dolorum assumenda recusandae in! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero at nobis laboriosam, ipsum est atque quam, obcaecati laudantium enim dolor commodi assumenda a ea in nesciunt labore minus quaerat ipsa?
            </p>
        </div>
    </body>
{% endblock %}
