{% extends "base.html" %}
{% bloco conteudo %}


<body>
    <!--topo-->
    <div>

        <img src="imagens/logo.png" alt="logo">
        <div class="link">
            <a href="home.html">Home | </a>
            <a href="quemsomos.html">Quem somos | </a>
            <a href="contato.html">Contato</a>
        </div>

    </div>
    <br>

    <!--Corpo da página-->

    <div id="img-capa">
        <img src="imagens/capa.png" alt="capa" width="800px">
    </div>
    
    <!--TXT-->
    <div>
        <h1>Sobre a universidade</h1>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat in dolore officia facere ut numquam fugit quos voluptates obcaecati vel eius incidunt suscipit, id, enim eaque? Possimus, sed. Rerum, incidunt
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat in dolore officia facere ut numquam fugit quos voluptates obcaecati vel eius incidunt suscipit, id, enim eaque? Possimus, sed. Rerum, incidunt?
    
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Quaerat in dolore officia facere ut numquam fugit quos voluptates obcaecati vel eius incidunt suscipit, id, enim eaque? Possimus, sed. Rerum, incidunt?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat in dolore officia facere ut numquam fugit quos voluptates obcaecati vel eius incidunt suscipit, id, enim eaque? Possimus, sed. Rerum, incidunt
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat in dolore officia facere ut numquam fugit quos voluptates obcaecati vel eius incidunt suscipit, id, enim eaque? Possimus, sed. Rerum, incidunt?
        
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Quaerat in dolore officia facere ut numquam fugit quos voluptates obcaecati vel eius incidunt suscipit, id, enim eaque? Possimus, sed. Rerum, incidunt?</p>
    <p><h4>Todos os direitos reservados</h4></p>
    </div>
    
</body>

{% endblock %}