<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
</head>
<link rel="stylesheet" href="/static/estilo.css">
<link rel="stylesheet" href="/static/normalize.css">
{% block back %}
{% endblock %}

<div>
    <img src="/static/imagens/logo.png" alt="logo">
    <div class="link">
        <a href="/"> Home </a> |
        <a href="/quemsomos"> Quem somos </a> |
        <a href="/contato"> Contato </a> |
        <a href="/users"> Lista </a> |
    </div>
</div>

{% block content %}
{% endblock %}
    <div class="direitos">
        <h4> Todos os direitos reservados </h4>
    </div>
</html>