{% extends "base.html" %}
{% block back %}
    <body class="margem", style="background-image: url(/static/imagens/fundo2.png);">
{% endblock %}
{% block content %}
        <div>
        <h2 >Quem Somos</h2>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia reiciendis nobis cum magni dolorem dolorum quod cumque iusto aut nam excepturi neque rerum soluta obcaecati, quis, architecto delectus qui. Dolorum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem at commodi sit neque, sequi eveniet voluptas maxime doloremque repudiandae, fuga veniam obcaecati quasi consequuntur libero aliquid minima iste eum. Nihil.</p>
        <h2>5 Motivos para estudar </h2>
        <ol>
            <li>Material sempre atualizado</li>
            <li>Tablets em sala de aula</li>
            <li>Professores renomados</li>
            <li>Universidade bem avaliada</li>
            <li>Ótima localização</li>
        </ul>
        </div>
        <hr>
        <div>
            <h2>Objetivos</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias voluptas tempora, facere aliquam ullam labore porro commodi, possimus nobis explicabo officiis beatae sint sunt dolorum quos, error exercitationem. Tempore, voluptatem! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque quae eum, tenetur voluptatem vitae magni accusamus nam molestias odit voluptatum consequatur veniam inventore, ratione expedita error non omnis facilis maxime.</p>
        </div>
    </body>
{% endblock %}